:host {
  display: inline-block;
}

.badge {
  display: block;
  font-size: .5em;
  padding: .3em .5em;
  color: #ffffff;
  background: #aaaaaa;
  border-radius: .5em;
}

.badge__times {
  cursor: pointer;
}
