<ad-status-bar-top></ad-status-bar-top>

<h2 class="subtitle">Редактирование долгов</h2>
<div class="edit-debt__users">
  <ul class="edit-debt__users-ul">
    <li *ngFor="let user of participants" class="edit-debt__users-li">
      <div class="edit-debt__users-color-indicator" [style.background]="user.color"></div>
      <div class="edit-debt__users-username">{{ user.participant.username }}</div>
      <div *ngIf="user.participant.isPaidBack" class="edit-debt__users-icon">
        <fa-icon *ngIf="user.participant.userId === checkOwner" [icon]="faMoneyBill" title="Оплатил чек"></fa-icon>
        <fa-icon *ngIf="user.participant.userId !== checkOwner" [icon]="faCheck" title="Долг возвращен"></fa-icon>
      </div>
      <div class="edit-debt__users-sum">{{ user.sum | number:'1.2-2' }}</div>
      <fa-icon
        *ngIf="editMode"
        class="edit-debt__users-trash"
        [icon]="faTrash"
        title="Удалить участника"
        (click)="onRemoveParticipantClick(user)"></fa-icon>
    </li>
    <li *ngIf="editMode" class="edit-debt__users-li">
      <fa-icon class="edit-debt__users-plus" [icon]="faPlus" title="Добавить участника" (click)="onAddUserClick()"></fa-icon>
    </li>
  </ul>
</div>

<div class="edit-debt__item-list-container">
  <ul class="edit-debt__item-list">
    <li *ngFor="let item of items" class="edit-debt__item">
      <ad-edit-debt-item-card
        [count]="item.item.count"
        [editMode]="editMode"
        [name]="item.item.name"
        [personalItemsDebt]="item.personal"
        [price]="item.item.price"
        [sum]="item.item.sum"
        (addPersonalItemClick)="onAddPersonalItemClick(item)"></ad-edit-debt-item-card>
    </li>
  </ul>
</div>

<ad-modal
  title="Добавить участника"
  [preventHideOnAccept]="true"
  [(visible)]="addParticipantModalVisible"
  (accept)="onAddUserModalAccept()">

  <ad-find-textbox
    placeholder="Начните вводить имя или id"
    [itemsFunc]="getUsersFunc"
    [(value)]="participantsDropdownItemSelected"></ad-find-textbox>

  <div
    *ngIf="participantAlreadyAddedMessageVisible"
    class="edit-debt__error-participant-added-already">Этот пользователь уже добавлен в чек!</div>
</ad-modal>

<ad-modal mode="confirm" [(visible)]="removeParticipantModalVisible" (accept)="onRemoveParticipantModalAccept()">
  <div>Вы точно хотите удалить участника "{{ participantForRemoveSelected?.participant.username }}" из чека?</div>
</ad-modal>

<ad-modal
  title="Выбрать участника"
  [preventHideOnAccept]="true"
  [(visible)]="addPersonalItemModalVisible"
  (accept)="onaAddPersonalItemModalAccept()">

  <div class="edit-debt__modal-field">
    Пользователь
    <ad-dropdown
      [items]="getParticipantsKeyValue()"
      [styles]="{ width: '100%' }"
      [(value)]="editPersonalItemForm.userId"></ad-dropdown>
  </div>

  <div class="edit-debt__modal-field">
    Доля
    <ad-textbox
      [styles]="{ width: '100%' }"
      type="number"
      [min]="1"
      [(value)]="editPersonalItemForm.parts" required></ad-textbox>
  </div>
</ad-modal>

<ad-status-bar-bottom [actions]="actions"></ad-status-bar-bottom>
