.summary-total-card {
  width: 258px;
  height: 136px;
  background: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, .16);
  text-align: center;
  overflow: hidden;
  position: relative;
}

.summary-total-card__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.summary-total-card__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
  font-size: 278px;
}

.summary-total-card__username {
  font-size: 28px;
  line-height: 78px;
  height: 78px;
}

.summary-total-card__sum-container {
  height: 58px;
}

.summary-total-card__sum-label {
  font-size: 12px;
}

.summary-total-card__sum {
  font-size: 28px;
}
