<ad-status-bar-top></ad-status-bar-top>

<h2 class="subtitle">Редактирование чека</h2>
<div class="edit-check__check-header">
  <ad-textbox
    placeholder="Наименование*"
    [styles]="{ width: '100%' }"
    [value]="checkInfo.name"
    [maxLength]="50"
    required></ad-textbox>
</div>
<div class="edit-check__check-header">
  <ad-textbox
    placeholder="Адрес"
    [styles]="{ width: '100%' }"
    [value]="checkInfo.address"
    [maxLength]="255"></ad-textbox>
</div>
<div class="edit-check__item-list-container">
  <ul class="edit-check__item-list">
    <li *ngFor="let item of checkInfo.items" class="edit-check__item">
      <ad-edit-check-item
        [count]="item.count"
        [name]="item.name"
        [price]="item.price"
        (edited)="onCheckItemEdited($event, item)"></ad-edit-check-item>
    </li>
  </ul>
</div>
<div class="edit-check__check-summary">
  <div>Товаров</div>
  <div>{{ checkInfo.items.length }}</div>
</div>
<div class="edit-check__check-summary">
  <div>Итого</div>
  <div>{{ checkTotal | number:'1.2-2' }}</div>
</div>

<ad-status-bar-bottom [actions]="actions"></ad-status-bar-bottom>

<ad-modal #importModal mode="confirm" title="Импорт чека" [preventHideOnAccept]="true" (accept)="onImportModalAccept()">
  <div></div>
</ad-modal>

<ad-modal #resetModal mode="confirm" (accept)="onResetModalAccept()">
  <div>Очистить чек?</div>
</ad-modal>

<ad-modal #saveModal mode="confirm" (accept)="onSaveModalAccept()">
  <div>Сохранить чек?</div>
</ad-modal>
