<ad-status-bar-top></ad-status-bar-top>

<h2 class="subtitle">Редактирование чека</h2>
<div class="edit-check__check-header">
  <ad-textbox
    placeholder="Наименование*"
    [styles]="{ width: '100%' }"
    [maxLength]="50"
    [(value)]="checkInfo.name"
    required></ad-textbox>
</div>
<div class="edit-check__check-header">
  <ad-textbox
    placeholder="Адрес"
    [styles]="{ width: '100%' }"
    [(value)]="checkInfo.address"
    [maxLength]="255"></ad-textbox>
</div>
<div class="edit-check__item-list-container">
  <ul class="edit-check__item-list">
    <li *ngFor="let card of itemCards" class="edit-check__item">
      <ad-edit-check-item-card
        [count]="card.item.count"
        [name]="card.item.name"
        [price]="card.item.price"
        [editMode]="card.editMode"
        (delete)="onCardDelete(card)"
        (edited)="onCheckItemEdited($event, card)"></ad-edit-check-item-card>
    </li>
  </ul>
</div>
<div class="edit-check__check-summary">
  <div>Товаров</div>
  <div>{{ itemCards.length }}</div>
</div>
<div class="edit-check__check-summary">
  <div>Итого</div>
  <div>{{ checkInfo.sum | number:'1.2-2' }}</div>
</div>

<ad-status-bar-bottom [actions]="actions"></ad-status-bar-bottom>

<ad-modal
  mode="accept"
  title="Импорт чека"
  [preventHideOnAccept]="true"
  [(visible)]="importModalVisible"
  (accept)="onImportModalAccept()">

  <div class="modal-import__field">
    <ad-textbox
      placeholder="ФПД*"
      [styles]="{ 'width': '100%', 'max-width': '240px' }"
      required></ad-textbox>
  </div>
  <div class="modal-import__field">
    <ad-textbox
      placeholder="Общая стоимость*"
      [styles]="{ 'width': '100%', 'max-width': '240px' }"
      required></ad-textbox>
  </div>
</ad-modal>

<ad-modal mode="confirm" [(visible)]="deleteItemModalVisible" (accept)="deleteSelectedCard()">
  <div>Удалить товар "{{ cardSelected?.item.name }}"?</div>
</ad-modal>

<ad-modal mode="confirm" [(visible)]="resetModalVisible" (accept)="onResetModalAccept()">
  <div>Очистить чек?</div>
</ad-modal>

<ad-modal mode="confirm" [(visible)]="saveModalVisible" (accept)="onSaveModalAccept()">
  <div>Сохранить чек?</div>
</ad-modal>
