.debt-summary__header,
.debt-summary__title,
.debt-summary__avatar-wrapper,
.debt-summary__total-debt-wrapper {
  position: absolute;
}

.debt-summary__header {
  top: 0;
  left: 0;
  width: 100%;
  height: 166px;
  background: linear-gradient(#000da5, #008ad3);
  z-index: 18;
}

.debt-summary__title {
  text-align: center;
  color: #ebebeb;
  font-weight: 100;
  font-style: italic;
  margin: 0;
  top: 22px;
  left: 0;
  width: 100%;
  z-index: 19;
}

.debt-summary__avatar-wrapper {
  top: 73px;
  margin: 0 auto;
  left: 0;
  width: 100%;
  z-index: 21;
}

.debt-summary__avatar {
  display: block;
  border-radius: 50%;
  width: 46px;
  margin: 0 auto;
}

.debt-summary__total-debt-wrapper {
  width: 100%;
  top: 96px;
  left: 0;
  z-index: 20;
}

.debt-summary__content {
  margin-top: 200px;
  text-align: center;
}

.debt-summary__checkbox {
  font-size: 18px;
}

.debt-summary__debt-cards {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
