<ad-status-bar-top></ad-status-bar-top>

<h2 class="subtitle">Чеки /
  <fa-icon [icon]="debtType === 'credit' ? faLevelUpAlt : faLevelDownAlt"></fa-icon>
  <span *ngIf="userId !== undefined"> / {{ (userInfo$ | async)?.username }}</span>
</h2>
<ul class="check-item__list">
  <li *ngFor="let check of checks" class="check-item__item">
    <ad-check-item
      [name]="check.name"
      [date]="check.date"
      [sum]="check.sumTotal"
      [status]="check.status"></ad-check-item>
  </li>
</ul>
<div class="check-item__more-button-container">
  <ad-button (click)="onMoreButtonClick()">Загрузить еще</ad-button>
</div>

<ad-status-bar-bottom [actions]="actions"></ad-status-bar-bottom>

<ad-modal mode="accept" title="Настройка фильтров" [(visible)]="filtersModalVisible" (accept)="onFiltersModalAccept()">
  <div class="filter-modal__option">
    <ad-checkbox label="Отображать отмененные чеки" [(checked)]="checkedShowCanceled"></ad-checkbox>
  </div>
  <div class="filter-modal__option">
    <ad-checkbox label="Отображать черновые чеки" [(checked)]="checkedShowDraft"></ad-checkbox>
  </div>
  <div class="filter-modal__option">
    <ad-checkbox label="Отображать закрытые чеки" [(checked)]="checkedShowClosed"></ad-checkbox>
  </div>
</ad-modal>
