.check-item {
  background: #ffffff;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-item_draft {
  background: #fffee5;
  color: #8b7448;
}

.check-item_closed {
  background: #deffde;
  color: #004e04;
}

.check-item_canceled {
  background: #ffeded;
  color: #6e3d3d;
}

.check-item__info {
  margin: 0 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.check-item__title {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.check-item__name {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.check-item__badge {
  margin-left: 3px;
}

.check-item__date {
  font-size: 12px;
}

.check-item__sum {
  width: 40%;
  font-size: 20px;
  text-align: right;
  margin: 0 10px;
}
