@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: roboto, Arial;
  color: #707070;
  background: #ebebeb;
  padding: 60px 0;
  margin: 0;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 15px;
}
