<div class="edit-debt-item">
  <div class="edit-debt-item__item">
    <div class="edit-debt-item__name" [title]="name">{{ name }}</div>
    <div class="edit-debt-item__numbers">
      <div class="edit-debt-item__price-count">{{ price | number:'1.2-2' }} * {{ count | number:'1.3-3' }}</div>
      <div class="edit-debt-item__sum">{{ sum | number:'1.2-2' }}</div>
    </div>
  </div>
  <div *ngIf="personalItemsDebt.length > 0 || editMode" class="edit-debt-item__personal">
    <div
      *ngFor="let personalItemDebt of personalItemsDebt"
      class="edit-debt-item__personal-item-badge-container">

      <ad-badge
        class="edit-debt-item__personal-item-badge"
        [closable]="editMode"
        [text]="partsSame ? personalItemDebt.participant.participant.username :
                personalItemDebt.participant.participant.username + ' (' + personalItemDebt.personalItem.part + ')'"
        [styles]="{ 'font-size': '1em', background: personalItemDebt.participant.color }"
        ></ad-badge>
    </div>
    <div *ngIf="editMode" class="edit-debt-item__personal-item-badge-container">
      <fa-icon [icon]="faPlus" title="Добавить участника"></fa-icon>
    </div>
  </div>
</div>
